body {
    background-color: #ddd;
    font-family: Helvetica;
    width: 60%;
    margin: 0 auto;
}
main {

}
header, footer, nav {

}
nav ul {

}
nav ul li {

}
nav a {

}
nav a:link, nav a:visited {

}
nav a:hover {

}
h2 {

}
.galery img{

}