body {
    background-color: #ddd;
    font-family: Helvetica;
    width: 60%;
    margin: 0 auto;
    line-height: 1.5;
    padding: 2% 4%;
}
@media(max-width: 600px) {
body {
    width: 95%;
}
}
main {
    background-color: white;
    margin: 2% auto;
    padding: 2% 4%;
    border-radius: 10px;
    border-color: gray;
    border-style: solid;
}
header {
    background-color: #555;
    color: #eee;
	text-align: center;
    border-radius: 10px;
    border-color: gray;
    border-style: solid;
}
footer {
    background-color: #555;
    color: #eee;
	padding: 1% 4%;
	text-align: center;
    border-radius: 10px;
    border-color: gray;
    border-style: solid;
}
nav {
	background-color: #555;
	color: #eee;
	margin: 5px 0px 0px;
	padding: 1% 4%;
	text-align: center;
    border-radius: 10px;
	position: sticky;
    top: 0;
}
nav ul {
    margin: 0%;
    padding: 0% 2%;
}
nav ul li {
    display: inline-block;
    margin: 0px 2%;
}
nav a {
    color: #ddd;
    text-decoration: none;
}
nav a:link, nav a:visited {

}
nav a:hover {
    color: #fff;
}
h2 {
    color: #555;
}
.galery img{
    margin: 2% auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
}

